<span class="details">{{ song.title }} - {{ song.artist }}</span>
<span *ngIf="votable" class="votes" [class.voted]="voted">
    <mat-icon class="vote-song-down-icon" aria-hidden="false" aria-label="Give this song one down vote" (click)="vote(false)">keyboard_arrow_down
    </mat-icon>
    <span class="vote-count">{{ song.votes }}</span>
    <mat-icon class="vote-song-up-icon" aria-hidden="false" aria-label="Give this song one up vote" (click)="vote(true)">keyboard_arrow_up
    </mat-icon>
</span>
