:host {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    font-weight: bold;

    span {
        display: inline-flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    .details {
        cursor: default;
    }

    .votes {
        .vote-count {
            width: 2em;
            padding: 0 0.25em;
            justify-content: end;
        }

        .mat-icon {
            cursor: pointer !important;
        }

        &.voted .mat-icon {
            color: grey;
        }
    }
}
