<mat-card>
    <mat-card-title>
        Create new event
    </mat-card-title>

    <mat-card-content>
        <form (ngSubmit)="create()" [formGroup]="event">
            <mat-form-field class="full-width">
                <input id="eventName" matInput formControlName="name" type="text" placeholder="Event name" required>
                <mat-error *ngIf="event.get('name').invalid">{{ getNameErrorMessage() }}</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input (click)="createEventDatePicker.open()" [matDatepicker]="createEventDatePicker"
                    [min]="minEventDate" formControlName="date" id="eventDate" matInput
                    placeholder="Choose a event date" required>
                <mat-datepicker-toggle matSuffix [for]="createEventDatePicker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #createEventDatePicker></mat-datepicker>
                <mat-error *ngIf="event.get('date').invalid">{{ getDateErrorMessage() }}</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <textarea cdkAutosizeMaxRows="6" cdkAutosizeMinRows="1" cdkTextareaAutosize
                    formControlName="description" id="eventDescription" matInput
                    placeholder="Event description"></textarea>
            </mat-form-field>

            <div class="full-width">
                <button mat-raised-button color="primary" id="createEventBtn" type="submit">Create Event</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
