.full-width {
    width: 100%;

    button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 20px;
    }
}

mat-card {
    width: fit-content;
    text-align: center;
    margin: 1em 1em auto;
}

h1 {
    text-align: center;
}
