<h1 mat-dialog-title>Edit Event</h1>

<div mat-dialog-content>
    <form [formGroup]="event">
        <mat-form-field class="full-width">
            <input id="eventName" matInput formControlName="name" type="text" placeholder="Event name" required>
            <mat-error *ngIf="event.get('name').invalid">{{ getNameErrorMessage() }}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="full-width">
            <input (click)="createEventDatePicker.open()" [matDatepicker]="createEventDatePicker"
                   [min]="minEventDate" formControlName="date" id="eventDate" matInput
                   placeholder="Choose a event date" required>
            <mat-datepicker-toggle matSuffix [for]="createEventDatePicker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #createEventDatePicker></mat-datepicker>
            <mat-error *ngIf="event.get('date').invalid">{{ getDateErrorMessage() }}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="full-width">
                <textarea cdkAutosizeMaxRows="6" cdkAutosizeMinRows="1" cdkTextareaAutosize
                          formControlName="description" id="eventDescription" matInput
                          placeholder="Event description"></textarea>
        </mat-form-field>
    </form>
</div>

<div mat-dialog-actions>
    <button (click)="onNoClick()" id="editEventCancel" mat-button>Cancel</button>
    <button [mat-dialog-close]="event" cdkFocusInitial color="primary" id="editEventSubmit" mat-button>Submit</button>
</div>
