<mat-card class="event-card mat-elevation-z4" *ngIf="event$ | async as event; else loadingOrError">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>
                <span>{{ event.name }}
                    <button *ngIf="event.relation === 'owner'" (click)="openEditDialog()" color="primary" id="edit-button" mat-icon-button>
                    <mat-icon id="edit-icon">edit</mat-icon>
                </button></span>
            </mat-card-title>
            <mat-card-subtitle>Date: {{ event.date | date}}</mat-card-subtitle>
            <mat-card-subtitle>{{ event.description }}</mat-card-subtitle>
        </mat-card-title-group>
        <div class="event-option-btns">
            <button (click)="openAddMemberDialog()" *ngIf="event.relation === 'owner'" color="primary" id="addMember"
                mat-fab>
                <mat-icon>person_add</mat-icon>
            </button>
            <button (click)="openRemoveMemberDialog()" *ngIf="event.relation === 'owner'" color="primary" id="removeMember"
                    mat-fab>
                <mat-icon>person</mat-icon>
                <mat-icon>delete</mat-icon>
            </button>
            <button (click)="retrieveInvitationLink()" color="primary" id="invitationLink" mat-fab>
                <mat-icon>share</mat-icon>
            </button>
            <button (click)="play()" *ngIf="event.relation === 'owner'" id="play" color="primary" mat-fab>
                <mat-icon>play_arrow</mat-icon>
            </button>
            <button (click)="openDeleteEventDialog()" *ngIf="event.relation === 'owner'" id="deleteEvent" color="warn" mat-fab>
                <mat-icon>delete</mat-icon>
            </button>
            <button (click)="leaveEventAsTmpUser()" *ngIf="isTmpUser()" id="leaveAsTmpUser" color="primary" mat-fab>
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </div>
    </mat-card-header>
    <mat-card-content>

        <div *ngIf="!!currentSong" class="current-song mat-elevation-z2">
            <img src="https://icons8.com/vue-static/landings/animated-icons/icons/sound/sound.gif"><span
            style="cursor: pointer;"><b>{{ currentSong.title }} - {{ currentSong.artist }}</b> on Spotify</span>
        </div>

        <mat-tab-group color="primary" class="mat-elevation-z2">
            <mat-tab label="Playlist">
                <mat-list role="list" class="song-list">
                    <mat-list-item role="listitem" *ngFor="let song of (songs | sortSongs:'votes'); trackBy: trackSong">
                        <app-song-item [song]="song"></app-song-item>
                    </mat-list-item>
                </mat-list>

                <div class="no-songs-message" *ngIf="songs && songs.length === 0">
                    No songs added to this event yet.
                </div>
            </mat-tab>
            <mat-tab label="Newest">
                <mat-list role="list" class="song-list">
                    <mat-list-item role="listitem" *ngFor="let song of (songs | sortSongs:'date'); trackBy: trackSong">
                        <app-song-item [song]="song"></app-song-item>
                    </mat-list-item>
                </mat-list>

                <div class="no-songs-message" *ngIf="songs && songs.length === 0">
                    No songs added to this event yet.
                </div>
            </mat-tab>
            <mat-tab label="History">
                <mat-list role="list" class="song-list">
                    <mat-list-item *ngFor="let song of (songsHistory | sortSongs:'history'); trackBy: trackSong"
                                   role="listitem">
                        <app-song-item [song]="song" [votable]="false"></app-song-item>
                    </mat-list-item>
                </mat-list>

                <div class="no-songs-message" *ngIf="songsHistory && songsHistory.length === 0">
                    No songs played at this event yet.
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>

<ng-template #loadingOrError>
    <div *ngIf="eventLoadingError$ | async; else loading">
        Event does not exist.
    </div>
    <ng-template #loading>
        Loading event...
    </ng-template>
</ng-template>

<a *ngIf="event$ | async" [routerLink]="['addsong']">
    <button mat-fab color="primary" class="suggest-song">
        <mat-icon>add</mat-icon>
    </button>
</a>
