<h1 mat-dialog-title>Delete Event</h1>
<div mat-dialog-content>
    <p>Do you really want to delete the event?</p>
</div>
<div mat-dialog-actions>
    <button (click)="onNoClick()" id="deleteEventCancel" mat-button>Cancel</button>
    <button (click)="deleteEvent()" cdkFocusInitial color="warn" id="deleteEventSubmit" mat-button>Ok</button>
</div>
