<h1 mat-dialog-title>Remove Members</h1>
<div mat-dialog-content>
    <p>Click the delete icon to remove a member.</p>

    <div *ngIf="members | async as eventMembers">
        <mat-list>
            <mat-list-item *ngFor="let member of eventMembers">
                <mat-icon mat-list-icon>perm_identity</mat-icon>
                <div mat-line>{{member.username}}</div>
                <mat-icon id="deleteMember" color="warn" (click)="deleteMember(member.id)">delete</mat-icon>
            </mat-list-item>
        </mat-list>
    </div>

</div>
<div mat-dialog-actions>
    <button (click)="onNoClick()" id="deleteEventCancel" mat-button>Close</button>
</div>
