$light-grey: lighten(#303030, 15%);

:host {
    width: 100%;
    min-height: 85vh;
}

#edit-button {
    transform: translateY(-0.3em);
}

.event-option-btns {
    flex: 1; // take up remaining place (to place buttons to the right)
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: end;


    button {
        margin: 0 0.5em;
    }
}

.event-card {
    margin: 20px 10%;

    mat-card-title {
        font-size: xx-large;
    }
}

.mat-card-content {
    padding-top: 25px;
}

.mat-list > .mat-list-item:nth-child(even), ::ng-deep .mat-tab-header {
    background-color: $light-grey;
}

::ng-deep .mat-tab-body-wrapper {
    max-height: 300px;
    overflow-y: auto;
}

::ng-deep .mat-tab-body-content {
    scrollbar-width: thin;
    scrollbar-color: #222 #333;
}

.current-song {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    //border: 1px solid black;
    padding: 10px 15px;
    margin-bottom: 15px;
    background-color: $light-grey;

    font-size: 20px;

    $height: 28px;

    img {
        height: $height;
        margin-right: 10px;
        color: green;
        background-color: green;
    }

    span {
        line-height: $height;
        height: $height;
    }
}

.suggest-song {
    position: absolute;
    bottom: 25px;
    right: 25px;

    z-index: 999;
}

.no-songs-message {
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bolder;
}
