<h1 mat-dialog-title>Add member</h1>
<div mat-dialog-content>
    <p>Please enter the member's username to invite him to your playlist</p>
    <mat-form-field class="uname">
        <input [(ngModel)]="username" id="username" matInput placeholder="Username">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button (click)="onNoClick()" id="addMemberCancel" mat-button>Cancel</button>
    <button (click)="addMember()" cdkFocusInitial id="addMemberSubmit" mat-button>Ok</button>
</div>
