@import '~@angular/material/theming';
@include mat-core();
@import "pp-green.scss";
@import "pp-red.scss";
@import "pp-yellow.scss";

$dark-primary: mat-palette($pp-green);
$dark-accent: mat-palette($pp-yellow);
$dark-warn: mat-palette($pp-red);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

@include angular-material-theme($dark-theme);

