<h1>Add Credentials</h1>
<p>Select the platform you want to add!</p>
<mat-form-field>
    <mat-label>Platform</mat-label>
    <mat-select [(value)]="selected">
        <mat-option *ngFor="let platform of platforms" [value]="platform">
            {{platform.name}}
        </mat-option>
    </mat-select>
</mat-form-field>
<br>
<div class="button-container">
    <a [routerLink]="[selected.link]" *ngIf="selected.name !== 'Spotify'; else spotify">
        <button mat-raised-button color="primary">
            Add
        </button>
    </a>

    <ng-template #spotify>
        <a href="{{createOAuthSpotifyLink()}}">
            <button mat-raised-button color="primary">
                Add
            </button>
        </a>
    </ng-template>

</div>

