@import "src/assets/style/theme.scss";

.wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-bottom: solid #232323 1px;
}

.wrapper:hover {
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;
}

.isSelected {
    background-color: rgba(map-get($dark-primary, 700), .5);
    color: black;
}

.isSelected:hover {
    background-color: rgba(map-get($dark-primary, 700), .5);
    color: black;
}

.artist {
    font-weight: lighter;
    font-size: small;
}

.description {
    margin-left: 10px;
    margin-bottom: 3px;
}

.action {
    text-align: right;
}
