form {
    width: 300px;
    display: flex;
}

mat-form-field {
    width: 100%;
}

h1 {
    text-align: center;
}

.button {
    text-align: center;
}

hr {
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
}

.platform-name {
    margin-bottom: 2px;
}

.selected {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}

.item {
    width: 100%;
}

.add {
    position: fixed;
    bottom: 0;
    width: 300px;
}

.add-btn {
    width: 100%;
}

.songs {
    overflow: scroll;
    height: 72vh;
}
