<ng-container *ngIf="event$ | async as event; else loadingOrError">
    <div class="top">
        <h1>Add Song</h1>
        <form>
            <mat-form-field class="example-full-width">
                <input matInput type="text" placeholder="Search..."
                    [formControl]="myControl" (input)="title = $event.target.value">
            </mat-form-field>

            <div class="button">
                <button mat-raised-button color="primary" type="submit" (click)="searchSong()">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">send</mat-icon>
                </button>
            </div>
        </form>
    </div>

    <div class="songs">
        <h4 class="platform-name">Spotify</h4>
        <hr>
        <app-found-song *ngFor="let s of songs" [isSelected]="song == s" (click)="selectSong(s)" [song]="s"></app-found-song>
    </div>

    <div class="add">
        <button mat-raised-button color="primary" class="add-btn" (click)="addSong()" [disabled]="!song">
            Add
        </button>
    </div>
</ng-container>

<ng-template #loadingOrError>
    <div *ngIf="eventLoadingError$ | async; else loading">
        Event does not exist.
    </div>
    <ng-template #loading>
        Loading event...
    </ng-template>
</ng-template>
