<mat-card class="form-card">
    <mat-card-title>
        Register
    </mat-card-title>

    <mat-card-content>
        <form (ngSubmit)="create()" class="register-form" [formGroup]="event">
            <mat-form-field class="username">
                <input
                    formControlName="username"
                    id="username"
                    matInput
                    placeholder="Username"
                    required
                />
                <mat-error *ngIf="event.get('username').invalid">{{
                    getUsernameErrorMessage()
                    }}</mat-error>
            </mat-form-field>

            <mat-form-field class="email">
                <input
                    formControlName="email"
                    id="email"
                    matInput
                    placeholder="E-Mail"
                    required
                />
                <mat-error *ngIf="event.get('email').invalid">{{
                    getEmailErrorMessage()
                    }}</mat-error>
            </mat-form-field>

            <mat-form-field class="pass" formGroupName="passwords">
                <input
                    [type]="hide ? 'password' : 'text'"
                    formControlName="password"
                    id="password"
                    matInput
                    placeholder="Password"
                    required
                />
                <button
                    (click)="hide = !hide"
                    mat-icon-button
                    matSuffix
                    type="button"
                >
                    <mat-icon>{{
                        hide ? 'visibility_off' : 'visibility'
                        }}</mat-icon>
                </button>
                <mat-error
                    *ngIf="event.get('passwords').get('password').invalid"
                >{{ getPasswordErrorMessage() }}</mat-error
                >
            </mat-form-field>

            <mat-form-field class="pass" formGroupName="passwords">
                <input
                    [type]="hide ? 'password' : 'text'"
                    formControlName="passwordVerify"
                    id="passwordVerify"
                    matInput
                    placeholder="Password verify"
                    required
                />
                <button
                    (click)="hide = !hide"
                    mat-icon-button
                    matSuffix
                    type="button"
                >
                    <mat-icon>{{
                        hide ? 'visibility_off' : 'visibility'
                        }}</mat-icon>
                </button>
                <mat-error
                    *ngIf="event.get('passwords').get('passwordVerify').invalid"
                >{{ getPasswordVerifyErrorMessage() }}</mat-error
                >
            </mat-form-field>

            Already have an Account?
            <a [routerLink]="['/login']">
                Login with existing Account!
            </a>

            <mat-card-actions>
                <button id="submit" mat-raised-button color="primary">
                    Register
                </button>
            </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card>
