<h1 mat-dialog-title>Remove Credentials</h1>
<div mat-dialog-content>
    <p>Do you want to remove the {{data}} credentials from your account?</p>
</div>
<div mat-dialog-actions>
    <button (click)="onNoClick()" id="removeTokenCancel" mat-button>Cancel</button>
    <button (click)="removeToken()" color="primary" cdkFocusInitial id="removeTokenSubmit" mat-button>Yes</button>
</div>
