<h1 mat-dialog-title>Update Username</h1>
<div mat-dialog-content>
    <p>Enter your new username</p>
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input [(ngModel)]="username" [errorStateMatcher]="matcher" [formControl]="usernameFormControl" matInput
               type="text">
        <mat-error *ngIf="usernameFormControl.hasError('required')">
            Username can't be empty!
        </mat-error>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button (click)="onNoClick()" id="updateUsernameCancel" mat-button>Cancel</button>
    <button (click)="updateUsername()" cdkFocusInitial color="primary" id="updateUsernameSubmit" mat-button>Ok</button>
</div>
