<mat-card *ngIf="accountData$ | async as accountData; else loading">
    <mat-card-title>
        Account
    </mat-card-title>

    <mat-card-content>
        <mat-list>
            <h2 mat-subheader>
                Personal Data
                <button (click)="openUpdateUsernameDialog()" id="updateName" mat-icon-button>
                    <mat-icon color="primary"> edit</mat-icon>
                </button>
            </h2>
            <mat-list-item>
                <mat-icon mat-list-icon>email</mat-icon>
                <h3 mat-line>Email</h3>
                <p mat-line>{{ accountData.email }}</p>
            </mat-list-item>

            <mat-divider></mat-divider>

            <h2 mat-subheader>
                Music Platforms
                <a [routerLink]="['/account/addcredentials']" id="add">
                    <mat-icon color="primary"> add_circle_outline</mat-icon>
                </a>
            </h2>

            <mat-list-item *ngFor="let credential of accountData.credentials">
                <mat-icon mat-list-icon> library_music</mat-icon>
                <h3 mat-line>{{ credential['type'] }}</h3>
                <!--<p mat-line> {{credential['username']}} </p>-->
                <button mat-icon-button color="warn" (click)="openDeleteDialog(credential['type'])">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item (click)="logout()" class="cursor">
                <mat-icon mat-list-icon> poweroff</mat-icon>
                <h3 mat-line>Logout</h3>
            </mat-list-item>
            <mat-list-item (click)="delete()" class="cursor">
                <mat-icon mat-list-icon> delete</mat-icon>
                <h3 mat-line>Delete Account</h3>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>

<ng-template #loading>
    Loading account...
</ng-template>
