<div class="landing-page">
    <h1>
        Enhance the music selection at your party!
    </h1>

    <img src="assets/img/logo/logo_white.png" alt="PartyPlayer Logo">

    <p>
        With PartyPlayer every guest at your party can add songs to the playlist and vote for them.
    </p>

    <div class="buttons">
        <a href="https://partyplayer.wordpress.com">
            <button mat-stroked-button color="primary">
                Visit our developer blog to learn more!
            </button>
        </a>
        <br>
        <a *ngIf="!loggedIn; else userLoggedIn" [routerLink]="['/register']">
            <button mat-raised-button color="primary">
                Register
            </button>
        </a>
    </div>

</div>

<ng-template #userLoggedIn>
    <a [routerLink]="['/event']">
        <button mat-raised-button color="primary">
            View Events
        </button>
    </a>
</ng-template>


