.landing-page {
    text-align: center;

    p {
        font-size: 110%;
        line-height: 150%;
        max-width: 22em;
        margin: 0 auto 1.5em;
    }

    .buttons {
        width: fit-content;
        margin: auto;

        button {
            margin: 0.5em 0;
            width: 100%;
            font-size: 110%;
        }
    }
}
