<div *ngIf="gotCode; else fail">
    <h1>Sending code to backend...</h1>
</div>


<ng-template #fail>
    <div class="center">
        <h1>Uooops, there was a mistake</h1>
        <a routerLink="/account/addcredentials">
            <button mat-raised-button color="primary">
                Try again
            </button>
        </a>
    </div>
</ng-template>
