.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    min-height: calc(100% - 3.5rem);
    position: relative;
    box-sizing: border-box;
    top: 3.5rem;
    padding: 1em;
}
