@import "src/assets/style/theme.scss";

.not-found {
    text-align: center;
    margin: 1em;

    h1 {
        font-weight: normal;
        font-size: 300%;
        font-family: 'Lobster', serif;
        color: map-get($dark-warn, 200);
    }

    button {
        font-size: 110%;
        text-decoration: underline;
        padding: 0em 0.3em;
    }
}


