<div class="not-found">
    <h1> 404 - Page Not Found </h1>

    <p>
        Sorry, the page you are looking for cannot be found.
    </p>
    <p>
        Go back to our
        <a [routerLink]="['']">
            <button mat-button color="primary">
                Home Page.
            </button>
        </a>
    </p>
</div>

