<mat-card>
    <mat-card-header>
        <mat-card-title>
            Events
        </mat-card-title>
        <button mat-fab color="primary" routerLink="create" id="create-event">
            <mat-icon>add</mat-icon>
        </button>
    </mat-card-header>
    <mat-card-content>

        <div *ngIf="events$ | async as events; else loading">
            <table mat-table [dataSource]="events" class="mat-elevation-z8">

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element" [routerLink]="element.id"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Description </th>
                    <td mat-cell *matCellDef="let element" [routerLink]="element.id"> {{element.description}} </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element" [routerLink]="element.id"> {{element.date | date}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

    </mat-card-content>
</mat-card>


<ng-template #loading>
    Loading events...
</ng-template>
