$light-grey: lighten(#303030, 15%);

.mat-card {
    width: 75vw;
    max-width: 800px;

    .mat-card-header {
        display: flex;
        align-items: center;
        padding-bottom: 1em;
    }

    .mat-card-title {
        font-size: xx-large;
        margin-bottom: 0;
    }

    table {
        width: 100%;

        .mat-column-name {
            width: 30%;
        }

        .mat-column-description {
            width: 50%;
        }

        .mat-column-date {
            width: 20%;
        }

        td {
            white-space: nowrap;
            cursor: pointer;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 0;
        }

        td:focus {
            outline: 0;
        }
    }

    #create-event {
        margin-left: auto;
        align-self: center;
    }
}

.mat-row:nth-child(even),
th.mat-header-cell {
    background-color: $light-grey;
}
