.flex-spacer {
    flex: 1 1 auto;
}

span {
    font-family: Lobster, serif;
    font-weight: normal;
    font-size: 120%;
    margin: 0 0.5em;
}

img, a {
    height: 100%;
}

a.text {
    color: white;
    text-decoration: none;
}

mat-toolbar.mat-toolbar.mat-toolbar-single-row {
    height: 3.5rem;
    position: fixed;
    top: 0;
    z-index: 10;
}
