<mat-toolbar>
    <a [routerLink]="['']">
        <img src="assets/img/logo/logo_white.png" alt="PartyPlayer Logo">
    </a>
    <span>
        <a [routerLink]="['']" class="text">
            PartyPlayer
        </a>
    </span>

    <span class="flex-spacer"></span>

    <span *ngIf="loggedIn">
        <a [routerLink]="['/event/create']" class="text">
            Create event
        </a>
    </span>
    <span *ngIf="loggedIn">
        <a [routerLink]="['/event']" class="text">
            My events
        </a>
    </span>

    <span class="flex-spacer"></span>

    <span>
        <a [routerLink]="link" class="text">
            {{action}}
        </a>
    </span>
    <mat-icon>
        <a [routerLink]="link" class="text">
            {{logo}}
        </a>
    </mat-icon>
</mat-toolbar>
