<mat-card class="form-card">
    <mat-card-title>
        Register
    </mat-card-title>

    <mat-card-content *ngIf="isInit && !doneInit">
        <form (ngSubmit)="init()" [formGroup]="eventInit" class="register-form">
            <mat-form-field class="email">
                <input
                    formControlName="email"
                    id="email"
                    matInput
                    placeholder="E-Mail"
                    required
                />
                <mat-error *ngIf="eventInit.get('email').invalid">{{
                    getEmailErrorMessage()
                    }}</mat-error>
            </mat-form-field>
            <mat-card-actions>
                <button color="primary" mat-raised-button>
                    Absenden
                </button>
            </mat-card-actions>
        </form>
    </mat-card-content>

    <mat-card-content *ngIf="!isInit && !doneUpdate">
        <form (ngSubmit)="setPassword()" [formGroup]="eventUpdate" class="register-form">
            <mat-form-field class="pass" formGroupName="passwords">
                <input
                    [type]="hide ? 'password' : 'text'"
                    formControlName="password"
                    id="password"
                    matInput
                    placeholder="Password"
                    required
                />
                <button
                    (click)="hide = !hide"
                    mat-icon-button
                    matSuffix
                    type="button"
                >
                    <mat-icon>{{
                        hide ? 'visibility_off' : 'visibility'
                        }}</mat-icon>
                </button>
                <mat-error
                    *ngIf="eventUpdate.get('passwords').get('password').invalid"
                >{{ getPasswordErrorMessage() }}</mat-error
                >
            </mat-form-field>

            <mat-form-field class="pass" formGroupName="passwords">
                <input
                    [type]="hide ? 'password' : 'text'"
                    formControlName="passwordVerify"
                    id="passwordVerify"
                    matInput
                    placeholder="Password verify"
                    required
                />
                <button
                    (click)="hide = !hide"
                    mat-icon-button
                    matSuffix
                    type="button"
                >
                    <mat-icon>{{
                        hide ? 'visibility_off' : 'visibility'
                        }}</mat-icon>
                </button>
                <mat-error
                    *ngIf="eventUpdate.get('passwords').get('passwordVerify').invalid"
                >{{ getPasswordVerifyErrorMessage() }}</mat-error
                >
            </mat-form-field>
            <mat-card-actions>
                <button color="primary" mat-raised-button>
                    Speichern
                </button>
            </mat-card-actions>
        </form>
    </mat-card-content>

    <div *ngIf="doneInit">
        Bitte schaue in deine Emails und folge den Anweisungen!
    </div>

    <div *ngIf="doneUpdate">
        Dein Passwort wurde erfolgreich zurückgesetzt.
        <button mat-raised-button routerLink="/login">Login</button>
    </div>

    <div *ngIf="error !== ''">
        Dein Passwort wurde erfolgreich zurückgesetzt.
        <button mat-raised-button routerLink="/login">Login</button>
    </div>
</mat-card>
