.container {
    width: 500px;
    height: 200px;
    border-radius: 25px;

    div {
        display: inline-block;
        width: calc(50% - 10px);
        height: 100%;
        background-color: rgba(255, 255, 255, 0.1);

        &:hover {
            transform: scale(1.05);
            transition: 0.25s all;
        }

        &:first-child {
            margin-right: 10px;
            border-radius: 25px 0px 0px 25px;
        }

        &:nth-child(2) {
            margin-left: 10px;
            border-radius: 0px 25px 25px 0px;
        }

        span {
            text-align: center;
            position: relative;
            display: block;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
