<div *ngIf="error != ''">
    <div>{{error}</div>
</div>


<div *ngIf="decide && error == ''" class="container">
    <div (click)="asGuest()">
        <span>Weiter als Gast</span>
    </div>
    <div [queryParams]="{ returnUrl: url }"
         [routerLink]="['/login']">
        <span>Login</span>
    </div>
</div>
