@import "assets/style/theme.scss";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    h1,
    mat-card-title {
        font-family: Lobster, serif;
        font-weight: normal;
    }

    a {
        color: #1274d9;
    }

    a:visited {
        color: #9366e5;
    }

    mat-card.form-card {
        min-width: 300px;
        width: 40vw;
    }
}

.error {
    display: block;
    color: #c00;
    margin: 10px auto;
    width: 85%;
}
